body{
    margin: 0;
    padding: 0;
}

#home{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}

#hello{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    text-transform: capitalize;
    font-size: 40px;
}