<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/banned.css">
</head>

<body>
    <div class="main">
    
        Hehehe 

        <br> 
        <br> 

        Ban ho gaya hai ab tu XD 

        <br>
        <br>

        Maze kar, chal bye!! 

        <br>
        <br>
        
    </div>

    <div>
        
        P.S.: Agar chull hai janane ki, ki ban kaise hatega, to /help pe chala ja
        
    </div>


</body>

</html>