<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/help.css">
</head>

<body>
    <div class="main">


        /checkBan route pe jayega root server pe, to pata chal jayega sach me ban hua hai ki nahi

        <br>
        <br>

        and if sach me ban hua hai to /removeBan route pe chala jana root server se he, hat jayega ban

        <br>
        <br>
        
        Chal chal, ro mat ab, Byee!! 

    </div>

    <div>
        
        P.S.: Agar chull hai janane ki, ki ban kaise hatega, to /help pe chala ja
        
    </div>


</body>

</html>